.select-items::-webkit-scrollbar {
  width: 3px !important;
  height: 28px !important;
}

.select-items::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #3b484e 0%, #549a7f 100%) !important;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.14) !important;
  border-radius: 3px !important;
}

.select-items::-webkit-scrollbar-thumb {
  height: 28px !important;
  background: #5ac1a5 !important;
  border-radius: 3px !important;
}
